<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>Edit Flight <%= flightData.flightNumber %></h2>

    <form action="/updates/<%= flightData.flightNumber %>/edit" method="post">
        <label for="departure-time">Flight departure:</label>
        <input type="datetime-local" id="departure-time"
           name="departure-time" value="<%= flightData.departure %>" required><br><br>
        <label for="arrival-time">Flight arrival:</label>
        <input type="datetime-local" id="arrival-time"
            name="arrival-time" value="<%= flightData.arrival %>" required><br><br>
        <label for="departure-airport">Departure Airport</label>
        <input list="departure-airports" name="departure-airport" id="departure-airport" value="<%= flightData.departureAirport %>" required>
        <datalist id="departure-airports">
            <option value="DTW">
            <option value="LGA">
            <option value="MDW">
            <option value="ORD">
            <option value="CHI">
            <option value="SFO">
            <option value="OAK">
        </datalist>

        <label for="arrival-airport">Arrival Airport</label>
        <input list="arrival-airports" name="arrival-airport" id="arrival-airport" value="<%= flightData.arrivalAirport %>" required>
        <datalist id="arrival-airports">
            <option value="DTW">
            <option value="LGA">
            <option value="MDW">
            <option value="ORD">
            <option value="CHI">
            <option value="SFO">
            <option value="OAK">
        </datalist><br><br>

        <label for="flight-capacity">Flight Capacity:</label><br>
        <input type="number" id="flight-capacity" name="flight-capacity" value="<%= flightData.passengerLimit %>" min="1" required><br>
        <label for="flight-passengers">Current Passenger Total:</label><br>
        <input type="number" id="flight-passengers" name="flight-passengers" value="<%= flightData.currNumPassengers %>" min="0"required><br>
        <input type="submit" value="Submit"><br><br>
        <input type="reset">
    </form>

</body>
</html>
